@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: DotGothic16;
  src: url(./assets/fonts/DotGothic16-Regular.woff2);
}

@font-face {
  font-family: Doto;
  src: url(./assets/fonts/Doto-Regular.woff2);
}

@theme {
  --font-doto: Doto, "sans-serif";
  --font-DotGothic16: DotGothic16, "sans-serif";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-100, currentcolor);
  }
}
