@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_opsz,wght.woff2) format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.woff2) format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@theme {
  --font-inter: Inter, "sans-serif";
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-100, currentcolor);
  }
  html {
    font-family: Inter, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
    background-color: var(--color-neutral-50);
  }
  html.dark {
  background-color: var(--color-neutral-900);
  }
}

#typewriter::after {
  content: "_";
  animation: blink 0.7s step-end infinite;
  margin-left: 2px;
  color: var(--color-neutral-900);
}

@keyframes blink {
  50% { opacity: 0; }
}

.dark #typewriter::after {
  color: var(--color-neutral-50);
}