/* tablet */
@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

/* escritorio */
@media (min-width: 1200px) {
  body {
    font-size: 1.05rem;
  }
}

@media (hover: hover) {
  .post:hover {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
    transform: translateY(-6px);
  }
  footer a:hover {
    color: grey;
  }
}

@media (prefers-reduced-motion: reduce) {
  .post {
    transition: none;
  }
}

:root {
  --font-title: "Merriweather", sans-serif;
  --font-text: "Lato", sans-serif;
}

html {
  font-size: 0.95rem;
  line-height: 1.6;
}

body {
  font-family: var(--font-text);
  line-height: 1.6;
  color: #333;
  margin: 0;
  background-color: #efefef;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  letter-spacing: 0.5px;
}

p {
  font-size: 1rem;
  max-width: 65ch;
}

header {
  background-color: #282728;
  color: white;
  padding: 0.5rem 0.5rem;
  margin: 0 0 1.5rem 0;
}

.info {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 1rem;
}

.description {
  margin: 1.5rem auto;
}

main section {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
}

#main-projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 0 2rem;
  gap: 1.5rem;
}

.post {
  width: 300px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  text-align: center;
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.post img {
  width: 100%;
  display: block;
  object-fit: cover;
}

footer {
  background-color: #282728;
  padding: 3rem;
  margin: 1.5rem 0 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
  display: inline;
}

footer a {
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
}
